[Unit]
Description=Gunicorn instance to serve VidyaPath FastAPI Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/VidyaPath/backend
Environment="PATH=/home/ubuntu/VidyaPath/backend/venv/bin"
EnvironmentFile=/home/ubuntu/VidyaPath/backend/.env
ExecStart=/home/ubuntu/VidyaPath/backend/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
